*{
	margin: 0;
	padding: 0;
}
/*main*/
body{
	margin: 0 auto;
}
#main{
	width: 1536px;
	height: 824px;
	margin-left: auto;
    margin-right:auto;
    margin:0 auto; 
}
/*top顶部*/
#header{
	background-color: #222222;
	height: 36px;
	width: 1518px;
	color: #fff;
	font-style:14px; 
	line-height: 36px;
    
}
#navWeather{
    height: 36px;
    position: absolute;
    width: 159px;
    left: 75px;
}
#navWheather p.wen{
	width: 20px;
}
#navWheather p{
	width: 40px;
}
#navWheather.fengexain{
	position: absolute;
}
.headerLeft a{
	color: #fff;
	text-decoration: none;
	font-style:14px; 
	line-height: 36px;
	text-align:center;
	float: left;
	cursor: pointer;
}
.headerLeft p{
	display: inline-block;
    margin-left: 7%;
    float: left; 
    cursor: pointer;   
}
.headerRight a{
    color: #fff;
	text-decoration: none;
	font-style:14px; 
	line-height: 36px;
	text-align:center;
	float: right;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
#header a.dl{
	background-color:#ed4040;
	padding-left:10px;
	padding-right:10px;
	cursor: pointer;
}
 #triangle-facing-button {  
    top: -59px;
    left: 87px;
    display: inline-block;
    margin: 72px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    width: 6px;
    background-color: black;
    height: 6px;
    transform: rotate(-45deg);
    position: absolute;
    }  
.fenge1{
		position: absolute;
		width: 1px;
		height: 36px;
		background-color: #323232;
		left: -4px;
		}
.fenge2{
		position: absolute;
		width: 1px;
		height: 36px;
		background-color: #323232;
		left: 1374px;
		}
.fenge3{
		position: absolute;
		width: 1px;
		height: 36px;
		background-color: #323232;
		left: 1300px;
		}
/*#tianQ_h{
	display: none;
}	*/


/*navLeft  左边导航*/
#navLeft{
	font-size: 16px;
    position: fixed;
    left: 10%;
    top: 40px;
    min-width:12%;
}
#navLeft img{
    width: 120px;
    height: 40px;
    top: 4px;
    position: absolute;
}
#navLeft ul{
    height: 533px;
    width: 120px;
    position: absolute;
    top: 43px;
}
#navLeft li{
	list-style: none;
	height: 30px;
	border-radius: 8%;
	margin:5px 0;
	padding: 3px 10px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
li#navFirst a{
	color: #ffffff;

}
#navLeft a{
	text-decoration: none;
	color: #000000;
}
li#navFirst  {
	background-color: #ed4040;
}
#navLeft ul :hover{

	background-color:#ed4040;
	color: #ffffff;
}
#navLeft ul :hover a{
	color: #ffffff;
}
/*新闻资讯*/
#newMain{
	position: absolute;
	left: 307px;
    top: 357px;
    width: 651px;
}
.rectangle{
    padding: 0;
    margin: 0;
    top: 5px;
    left: 3px;
    height: 18px;
    width: 30px;
    border: 1px solid;
    position: absolute;
}
#newMain h3,p,img{
	display: inline-block;
	float: left;
}
#newMain .imgFirst{
    position: absolute;
    top: 12px;
    width: 19px;
    height: 128px;
}
#newMain h3{
	left: 202px;
    top: 42px;
    position: absolute;
    height: 25px;
    width: 295%;
}
#newMain .sourceLogoURL{
	width: 20px;
	height: 20px;
}
#newMain .newButton{
	top: 108px;
    left: 200px;
    position: absolute;
    font-size: 14px;
    color:#999;
}
#newMain .newButton p{
	margin: 5px;
	color:#999;
}
#newMain .newButton img{
	margin: 5px;
	border-radius: 50%;
}
/*轮播图slideshow*/
#slideshow{
    z-index: 1;
    left: 20%;
    top: 2%;
	width: 651px;
	height: 300px;
	background-color: #222;
	color: #ffffff;
	position: relative;
	border: none;
	overflow: hidden;
}
#slideshow .img{
	width: 587px;
	height: 2400px;
	position: absolute;
	
}
#slideshow img{
	float: left;
	width:587px;
	height: 300px;
	
}
.slideshowNav{
	float: left;
	position: relative;
}
.slideshowNav ul{
    position: relative;
    top: 0;
    right: -587px;
    height: 304px;
    width: 64px;
}
.slideshowNav li{
	text-align: center;
	line-height: 30px;
	height: 30px;
	margin-top: 10px;
	margin-bottom:19px; 
	width: 64px;
	list-style: none;
	background-color:#222 ;
}
.slideshowNav li:hover{
  cursor:pointer;
}
#area {  
    z-index: 2;
    position: absolute;
    top: -84px;
    left: 577px;
    margin: 100px auto;
    width: 30px;
    height: 20px;
     
}  
#area .s1{
	border-color: #c53a3a; 
    border-top-color: transparent;  
    border-bottom-color: transparent;  
}
.item {  
    float:left; clear:both;  
    margin-bottom:23px;  
} 
.dotLeft {  

	margin-bottom: 29px;
    font-size: 0;  
    line-height: 0;  
    border-width: 10px;  
    border-color: rgba(0,0,0,0); 
    border-left-width: 0;  
    border-style: dashed;  
    border-right-style: solid;  
    border-top-color: transparent;  
    border-bottom-color: transparent;  
}  
.slideshowNav li.u2{
   background-color: #c53a3a;
}
/*sousuo*/
#rightContain{
	position: absolute;
}
.sousuo{
	position: absolute;
	width: 360px;
	height: 40px;
	left: 1000px;
	top: -282px;
	float: left;
}
.sousuo form{
	height: 40px;
	width: 360px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
input::-webkit-input-placeholder {
	color: green;
}
.searchBox:hover{
	border:1px solid #208eda;
}
.searchBox{
	
	background-color: #f5f6f7;
    border-style: none;
	width: 280px;
	height: 40px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.searchButton{
	top: 2px;
	width: 70px;
	height: 40px;
	background-color: #208eda;
	display: inline-block; 
	border-style: none;
	border-top-right-radius: 8%;
	border-bottom-right-radius: 8%;
	color: #fff;
}
/*jb*/
.imgInform{
	position: absolute;
	top: 62px;
	right: 0;
	width: 360px;
	height: 121px;
}
.imgAD{
	position: absolute;
	width: 360px;
	height: 320px;
	top:200px;
}
.news{
		position: absolute;
	top: 560px;
	width: 360px;
	height: 450px;
	background-color: #f4f5f6; 
}
.filler{
	width: 360px;
	height: 10px;
	background-color: #ed4040;
}
.titleFirst{
	text-align: center;
	font-size: 24px;
}
/*mokuai*/
.kk img{
	 position: absolute;
   	left: 20px;
	width: 60px;
	height: 60px;
}
.kk h4{
	position: absolute;
	right: 30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.fen_1{
   position: absolute;
   top: 70px;
   width: 100%;
   height: 1px;
   background-color:red;
   z-index: 2;
   display: inline-block;
}
.fen_2{
   position: absolute;
   top: 70px;
   width: 100%;
   height: 1px;
   background-color:red;
   z-index: 2;
   display: inline-block;
}
.fen_3{
   position: absolute;
   top: 70px;
   width: 100%;
   height: 1px;
   background-color:red;
   z-index: 2;
   display: inline-block;
}
.fen_4{
   position: absolute;
   top: 70px;
   width: 100%;
   height: 1px;
   background-color:red;
   z-index: 2;
   display: inline-block;
}
.kk{
	margin-bottom: 10px;
	width: 360px;
	height: 90px;
}
.mokuai_1{
    position: absolute;
    top: 57px;
    left: 0px;
}
.mokuai_2{
	position: absolute;
    top: 155px;
    left: 0px;
}
.mokuai_3{
    position: absolute;
    top: 250px;
    left: 0px;
}
.mokuai_4{
    position: absolute;
    top: 344px;
    left: 00px;
}

